body {
    background-color: black;
}

.contentbox {
    height: 400px;
    width: 400px;
    border: 2px solid red;
    background-color: white;
    color: black;
    display: inline-block;
    padding:20px
}
.borderbox {
    height: 400px;
    width: 400px;
    border: 2px solid red;
    background-color: aqua;
    color: black;
    display: inline-block;
    padding:20px 
}