* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    text-align: center;
}
button {
    margin-top: 10px;
    padding:5px;
    color: brown;
    background-color: antiquewhite;
 }

 #results {
    text-align:center;
    color: beige;
    background-color: black;
 }